body {
    background-color: powderblue;
}
h1 {
    color: red;
}
h2 {
    color: green;
}
h3 {
    color:darkorange;
}
p {
    padding: 2%;
    padding-top: 0%;
}
a {
    font-size: large;
}
ol {
    color: blueviolet;
    margin-left:5%;
}
ul {
    color:hotpink;
    margin-left:10%;
}
footer {
    text-align: center;
}
#image1 {
    /* width: 50%; */
    /* height: 10; */
    border: 5px, solid #4bce40;
}
#image2 {
    width: 100%;
    border-radius: 50%;
}